.upBerth {
    font-size: x-small;
}

.downBerth {
    font-size: x-small;
}

.upDescriber {
    font-size: x-small;
    font-weight: bold;
}

.downDescriber {
    font-size: x-small;
    font-weight: bold;
}